body {
      background-color: #121212;
      color: white;
    }
    .section-rounded {
      border-radius: 20px;
      background-color: #1c1c1c;
      padding: 30px;
      color: white;
      box-shadow: 0 0 10px rgba(255, 193, 7, 0.2);
    }
   .profile-img {
    max-width: 150px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.3);
}

    .detail-label {
      font-weight: bold;
      color: #ffc107;
    }
    .container-custom {
      max-width: 1200px;
    }


/*resume*/
.timeline-item {
  border-left: 3px solid #ffc107;
  padding-left: 15px;
  position: relative;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: #ffc107;
  border-radius: 50%;
}


/*projects*/
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.4);
}




/*contact*/
input, textarea {
  caret-color: #ffc107;
}

form label {
  color: #ccc;
}

form input::placeholder,
form textarea::placeholder {
  color: #888;
}
